body{
    background: linear-gradient(to right, #eecda3,#ef629f);
    margin: 0;
    padding: 0;
}
h1{
    color: #000000;
    text-align: center;
    font-family: sans-serif;
}
.faqform{
    width: 75%;
    margin: 0 auto;
    margin-top: 7%;
}
.loginform{
    width: 50% !important;
    margin: 0 auto;
    margin-top: 10%;
}
.categoryform{
    width: 50% !important;
    margin: 0 auto;
    margin-top: 7%;
}
.chatbot-form-header{
    text-align: left;
    padding: 0.2%;
    background: linear-gradient(to left, #4568dc,#b06ab3);
}
.login-form-header{
    text-align: left;
    padding: 1%;
    background: linear-gradient(to left, #4568dc,#b06ab3);
}
.category-form-header{
    text-align: left;
    padding: 1%;
    background: linear-gradient(to left, #4568dc,#b06ab3);
}
.login-form{
    background-color: white;
    padding: 3%;
}
.add-faq-form{
    background-color: white;
    padding: 3%;
}
.add-category-form{
    background-color: white;
    padding: 3%;
    padding-bottom: 7%;
}
img{
    width: 5%;
    height: 5%;
}