.chatbot{
  position: fixed;
    bottom:50px;
    right:40px; 
    
}

.help-block{
  color:rgb(240, 12, 12);
}

.react-chatbot-kit-chat-container{
  width:350px !important;
}
.react-chatbot-kit-chat-bot-message{
  margin-left:0px !important;
  width:fit-content !important;
}
.react-chatbot-kit-chat-message-container{
  border-left:1px solid grey;
  background:darkcyan !important;
  overflow-x: hidden !important;
  border-radius:0px 0px 20px 20px !important;
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
  display: none !important;
}
.react-chatbot-kit-user-chat-message{
  border-radius:30px 30px 0px 30px !important;
}
.react-chatbot-kit-user-chat-message-arrow{
  border:0px !important;
}
.react-chatbot-kit-chat-bot-message{
  border-radius:0px 0px 20px 20px !important;
}
.react-chatbot-kit-chat-bot-message-arrow{
  border:0px !important;
}

.react-chatbot-kit-chat-header{
   border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    background-color: #efefef;
    font-family: Arial;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: #514f4f;
    padding: 12.5px;
    font-weight: bold;
}

.bot-btn{
  position: fixed;
    bottom:10px;
    right:40px;
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url("../assets/botlogo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clear-btn{
  position: fixed;
    bottom:10px;
    right: 100px;
    height:40px;
   
}


.logo{
    background-color:white;
    border-color: white;
}


.mainLabel{
  font-size: 16px;
  -webkit-font-smoothing: auto;
  letter-spacing: .3px;
  color: #44475b;
  margin: 0px 13px;
  cursor: pointer;
  --webkit-tap-highlight-color:transparent;
}

.sideLabel{
  font-size: 16px;
  -webkit-font-smoothing: auto;
  letter-spacing: .3px;
  color: #44475b;
  margin: 0px 30px 0px 600px;
  cursor: pointer;
  --webkit-tap-highlight-color:transparent;
}

.web-align{
  padding-top:10px;
}

.sideLabel.side{
 margin-left:0px;
}

a:hover{
  color:#00d09c;
  text-decoration: transparent
}

.options{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.subLabel{
  font-size: 18px;
  color: #44475b;
  line-height: 15px;
  padding-right: 45px;
  margin-right:10px;
  height: 54px;
  --webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: auto;
}

.wrapper{
  padding:20px;
}

.selected-option{
  border-bottom: 3px solid #00d09c;
  will-change: left,width;
  transition: left .2s linear,width .2s linear;
}

.item-card{
  box-shadow: 0 1px 7px 0 rgba(0,0,0,0.1);
    max-width: 165px;
    min-height: 190px;
    min-width: 168px;
    width: 100%;
    position: relative;
    transition: all .3s ease;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 8px;
    margin-right: 15px;
}

.order-card{
  box-shadow: 0 1px 7px 0 rgba(0,0,0,0.1);
  min-height: 190px;
  width: 700px;
  position: relative;
  transition: all .3s ease;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 8px;
  margin-right: 15px;
}

.item-name{
  line-height: 1.57;
  letter-spacing: .19px;
  color:#44475b;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
  min-height: 45px;
}

.order-date{
  line-height: 1.57;
  letter-spacing: .19px;
  color:#636369;
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
  min-height: 45px;
}

.order-name{
  line-height: 1.57;
  letter-spacing: .19px;
  color:#000002;
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
  min-height: 45px;
}

.order-details{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.item-price{
  font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #44475b;
    margin-right: 7px;
    margin-bottom: 10px;
}

.price-change{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color:#00d09c;
}

.heading{
  font-size: 21px;
    font-weight: 500;
    letter-spacing: -.23px;
    color: #44475b;
}
.learning-options-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.learning-option-button {
  padding: 0.5rem;
  border-radius: 5px;
  background: aliceblue;
  border: 1px solid transparent;
  margin: 3px;
}
.leftBox{
  width: 200px;
  padding: 0 0 30px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  float:left;
}

.rightBox{
  width: 500px;
  padding: 30px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction:column;
  float:right;
  align-items: flex-start
}

.circle{
  border-radius:50%;
}

.profilePic{
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.account-wrapper{
  display: flex; 
  align-items: center; 
  height: 190px;
  flex-direction: column; 
  justify-content: space-around ; 
  
}

.account-section{
  display:flex;
  flex-direction: row;
  justify-content: space-around ; 
}

.label{
  font-size: 13px;
  letter-spacing: .25px;
  color:#999;
  text-align: left;
}

.label-value{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.specific-card{
  box-shadow: 0 1px 7px 0 rgba(0,0,0,0.1);
  width: 700px;
  position: relative;
  transition: all .3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  border-radius: 8px;

}

.card-top{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-primary{
  transition-duration: 0.4s;
  background-color: #00d09c;
    border-color: #fdfdfd;
}

.btn-primary:hover{
  background-color: #00d09c;
    border-color: #fdfdfd;
}

.row{
  margin:0px !important;
}

.login-left{
  width:50%;
  background-image: url('https://assets-netstorage.groww.in/website-assets/prod/1.5.0/build/client/images/patternImg.0edf5760.svg');
  background-repeat: no-repeat;
  color:white;
  font-size: 40px;
  font-weight:500;
  border-radius:10px 0px 0px 10px;
}
.login-right{
  border-radius:10px;
  width:50%;
}
.login-container{
  border-radius:10px;
  width:800px;
  height: 400px;
  box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.1);
  margin: 0px 0px 0px 100px !important;
  position: relative;
}

.typingeffect{
  position: absolute;
  bottom:5px;
  left:10px;
  font-size:30px;
}
